<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="DP test suite" parallel="tests" thread-count="5">
    <test name="DP - 1">
        <classes>
            <class name="org.sayem.testng.dataprovider.DataProviderExample">
                <methods>
                    <include name="getFirstSampleData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>